.footer{
    background-color: rgb(16, 24, 133);
    color: white;
    padding: 10px;  
    font-size: 1rem;
    &__container{    
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    &__title{
        padding: auto 5px;
             
    }
    &__info{
        display: flex;
        text-align: center;
        justify-content: flex-end;
    }
    &__info > * + * {
        margin-left: 20px;
    }

}